<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Lista de personas</title>

        <!--=====================================
	    VÍNCULOS CSS
	    ======================================-->

        <!-- CSS Bootstrap -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <header>
            <br />
            <h1 class="text-success text-center">Listado de personas</h1>
            <br />
        </header>
        <section class="text-center">
            <table class="table table-striped table-hover">
                <thead class="bg-success text-white">
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Edad</th>
                    </tr>
                </thead>
                <tbody>
                    {% for persona in personas %}
                    <tr>
                        <td>{{persona.nombre}}</td>
                        <td>{{persona.apellido}}</td>
                        <td>{{persona.edad}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </body>
</html>
